<template tag-name="usersetup-comp">
    <userdetails-comp id="userdetails"></userdetails-comp>
    <user-infocomp id="userinfocomp" style="display: none"></user-infocomp>
    <user-addresscomp id="useraddresscomp" style="display: none"></user-addresscomp>
    <user-infodetailscomp id="userinfodetailscomp" style="display: none"></user-infodetailscomp>
    <inputparamby-value-comp id="inputparambyvaluecomp" style="display: none"></inputparamby-value-comp>
    <inputparamby-days-comp id="inputparambydayscomp" style="display: none"></inputparamby-days-comp>
    <inputparamby-fields-comp id="inputparambyfieldscomp" style="display: none"></inputparamby-fields-comp>

</template>